*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: inter;
  height: 100%;
  color: #222a3a;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
}

.__ibg {
  position: relative;
}

.__ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  opacity: 0.5;
}

.container {
  padding: 0 15px;
  max-width: 1219px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container__header {
  padding: 0 30px;
  max-width: 1465px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button-toggles {
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  text-align: center;
  letter-spacing: -0.02em;
  opacity: 0.5;
  background-color: transparent;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.button-toggles:hover {
  opacity: 1;
}

.button-toggles:active {
  border-bottom: 1px solid #32ad67;
}

.color__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #5262ee;
}

.titles {
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.button-green {
  border-radius: 10px;
  background-color: #32ad67;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.button-green:hover {
  -webkit-box-shadow: rgba(50, 173, 103, 0.37) 0px 0px 20px 8px;
          box-shadow: rgba(50, 173, 103, 0.37) 0px 0px 20px 8px;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.button-green:active {
  background-color: #0d5c63;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.logo {
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 6px;
  font-size: 29px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.logo:hover {
  color: #32ad67;
}

.logo:active {
  color: #737373;
}

.header {
  background-color: #0e1c4c;
  margin-bottom: 146px;
}

.header__block-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 62px 0 62px;
  margin-bottom: 120px;
  border-bottom: solid 1px rgba(150, 153, 171, 0.3);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 10px;
}

.header__logo-main {
  color: #ffffff;
  margin: 30px 42px 30px 0;
}

.header__item {
  margin-right: 53px;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.header__item:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.header__item:active {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__item:nth-last-of-type(1) {
  margin-right: 20px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #737373;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.header__nav-link:hover {
  color: #ffffff;
}

.header__nav-link:active {
  color: #535353;
}

.header__button-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-right: 20px;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.header__button-link:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.header__button-link:active {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__button-link:nth-last-of-type(1) {
  margin-right: 0;
}

.header__button-link-green {
  padding: 11px 24px 11px 24px;
}

.header__title {
  font-size: 50px;
  color: #ffffff;
  max-width: 735px;
  margin-bottom: 35px;
  z-index: 2;
  position: relative;
  text-shadow: 1px 6px 7px black;
}

.header__subtitle {
  font-size: 18px;
  line-height: 155%;
  font-weight: 400;
  opacity: 0.8;
  color: #ffffff;
  max-width: 532px;
  margin-bottom: 65px;
  z-index: 2;
  position: relative;
}

.header__company-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  opacity: 0.8;
  color: #ffffff;
  margin-right: 10px;
}

.header__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
}

.header__button {
  padding: 11px 24px 11px 24px;
  display: -webkit-inline-box;
  color: #ffffff;
  margin-bottom: 140px;
  position: relative;
  z-index: 2;
}

.header__company-svg {
  margin-right: 10px;
}

.header__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__img {
  top: -137px;
  right: 0;
  position: absolute;
  opacity: 0.8;
}

.header__block-wraper {
  position: relative;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__opportunities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__product {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #5262ee;
  margin-bottom: 25px;
}

.main__title {
  max-width: 643px;
  margin-bottom: 52px;
}

.main__fichi-text {
  max-width: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
}

.main__fichi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 630px;
}

.main__opportunities-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__fichi-blocks {
  margin: 0 40px 32px 0;
}

.main__fichi-svg {
  margin-bottom: 15px;
}

.main__fichi-demonstration--img {
  margin-bottom: 60px;
}

.main__fichi-demonstration--toggles {
  margin-bottom: 32px;
  margin-right: 105px;
  cursor: pointer;
}

.main__fichi-demonstration--toggles:nth-last-of-type(1) {
  margin-right: 0;
}

.main__fichi-link {
  color: #32ad67;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.main__fichi-link:hover {
  color: #0d5c63;
}

.main__fichi-link:active {
  color: #535353;
}

.features__backgraund {
  background-color: #f7f8fc;
}

.features__backgraund::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  margin-bottom: 130px;
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 130px;
}

.features__title-block {
  text-align: center;
}

.features__text {
  margin-bottom: 25px;
}

.features__title {
  min-width: 609px;
  margin-bottom: 27px;
}

.features__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  min-width: 338px;
  margin-bottom: 78px;
}

.features__cart {
  max-width: 380px;
  margin-bottom: 20px;
  padding: 60px 50px 77px 50px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 34px 80px rgba(11, 5, 47, 0.07);
          box-shadow: 0px 34px 80px rgba(11, 5, 47, 0.07);
}

.features__cart:nth-last-of-type(1) {
  margin-right: 0;
}

.features__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 110px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__subtitle-color {
  opacity: 0.8;
  margin-bottom: 60px;
}

.features__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__fichi-explore {
  margin-bottom: 20px;
}

.features__fichi-demonstration--toggles {
  margin-right: 39px;
  margin-bottom: 30px;
  cursor: pointer;
}

.features__fichi-demonstration--toggles:nth-last-child(1) {
  margin-right: 0;
}

.features__title-wrapper {
  margin-left: 79px;
  max-width: 448px;
}

.features__img-block {
  -webkit-box-shadow: 0px 7px 16px 7px rgba(11, 5, 47, 0.07);
          box-shadow: 0px 7px 16px 7px rgba(11, 5, 47, 0.07);
  border-radius: 15px;
  margin-bottom: 60px;
}

.features__img {
  border-radius: 15px;
  background-size: cover;
}

.features__fichi-demonstration--toggle {
  border-bottom: 2px solid rgba(150, 153, 171, 0.1);
  margin-bottom: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__cart-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}

.features__svg {
  margin-bottom: 20px;
}

.pircing__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pircing {
  background-color: #0e1c4c;
}

.pircing::before {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  margin-bottom: 130px;
}

.pircing::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  margin-bottom: 130px;
}

.pircing__block {
  margin-bottom: 134px;
}

.pircing__title {
  color: #ffffff;
  margin-bottom: 56px;
}

.pircing__block-cart {
  background: #22326A;
  border: 1px solid rgba(255, 255, 255, 0.14);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  max-width: 380px;
  padding: 40px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.pircing__block-cart:nth-last-of-type(1) {
  margin-right: 0;
}

.pircing__block-carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pircing__text--color {
  color: #ffffff;
}

.pircing__cart-subtitle {
  opacity: 0.8;
}

.pircing__cart-opportunities {
  opacity: 0.6;
  margin-bottom: 26px;
  padding-top: 26px;
}

.pircing__cart-opportunities-list {
  opacity: 0.8;
}

.pircing__cart-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  margin-bottom: 18px;
}

.pircing__cart-subtitle {
  opacity: 0.8;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.pircing__cart-opportunities-item {
  line-height: 218%;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pircing__cart-button {
  padding: 18px 100px;
}

.pircing__check-svg {
  margin-right: 10px;
}

.pircing__subtitle {
  margin-bottom: 30px;
}

.pircing__cart-text {
  margin-bottom: 30px;
}

.getting__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  opacity: 0.8;
}

.getting__button {
  padding: 16px 56px;
  display: -webkit-inline-box;
  color: #ffffff;
  margin-bottom: 130px;
}

.getting__block {
  text-align: center;
}

.getting__title {
  margin-bottom: 24px;
}

.getting__subtitle {
  max-width: 478px;
  margin: 0px auto 40px;
}

.footer__logo {
  color: #000000;
  margin-right: 167px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid #E0E3E9;
  margin-bottom: 24px;
}

.footer__item-title {
  font-weight: 700;
  line-height: 155%;
  margin-bottom: 20px;
}

.footer__item {
  line-height: 155%;
}

.footer__item-block {
  margin-right: 123px;
  margin-bottom: 50px;
}

.footer__item-block:nth-last-of-type(1) {
  margin-right: 0;
}

.footer__list {
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  margin-bottom: 15px;
}

.footer__list:hover {
  color: #32ad67;
}

.footer__list:active {
  color: #535353;
}

.footer__block {
  background-color: #f7f8fc;
}

.footer__block::before {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  margin-bottom: 130px;
}

.footer__block::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
}

.footer__company {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  opacity: 0.6;
}

.footer__low-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  margin-right: 76px;
}

.footer__low-text:nth-last-of-type(1) {
  margin-right: 0;
}

.footer__low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.footer__low-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.editor__swich {
  position: relative;
  width: 45px;
  height: 24px;
  display: inline-block;
}

.editor__swich > .editor__checkbox {
  display: none;
}

.editor__swich > .editor__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150, 153, 171, 0.3);
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.editor__swich > .editor__slider::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 5px;
  top: 3px;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.editor__checkbox:checked + .editor__slider {
  background-color: #32ad67;
}

.editor__checkbox:checked + .editor__slider::before {
  -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
          transform: translateX(17px);
}

.editor__user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-experiment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__link {
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.01em;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  color: #737373;
}

.filter__link:hover {
  color: #5262ee;
}

.filter__item {
  margin-bottom: 50px;
}

.filter__item:nth-last-child(1) {
  margin-bottom: 0;
}

.filter__title {
  margin-bottom: 260px;
}

@media screen and (min-width: 320px) {
  .header__item {
    margin-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .header__block-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .header__li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }

  .header__button-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .features__description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1241px) {
  .__ibg img {
    opacity: 1;
  }

  .header__logo-main {
    margin: 30px 122px 30px 0;
  }

  .main__opportunities {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }

  .main__opportunities-flex {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .features__cart {
    margin-right: 40px;
    margin-bottom: 130px;
  }

  .features__carts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }

  .features__description {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .pircing__block-cart {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .pircing__block-carts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}